<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WorkMonitorDB" connectionString ="Host=localhost;Port=5432;Username=postgres;Password=YourPassword;Database=WorkMonitor360DB" providerName ="Npgsql"/>
  </connectionStrings>
  <appSettings>
    <add key="OpenAIApiKey" value="your-api-key-here"/><add key="OpenAIApiKey" value="Your_Licensed_OpenAPI_Key"/>
  </appSettings>
</configuration>